<!DOCTYPE html>
<article>
    <div class="banner">
        <ul class="texts">
            <p>The best life is use of willing attitude, a happy-go-lucky life. </p>
            <p>最好的生活是用心甘情愿的态度，过随遇而安的生活。</p>
        </ul>
    </div>
    <div class="bloglist">
        <h2>
            <p><span>推荐</span>文章</p>
        </h2>
        <div class="blogs">
            <h3><a href="/">犯错了怎么办？</a></h3>
            <figure><img src="images/loading.png"></figure>
            <ul>
                <p>kkkkkkkkk</p>
                <a href="/" target="_blank" class="readmore">阅读全文&gt;&gt;</a>
            </ul>
            <p class="autor"><span>作者：Sweety</span><span>  </span><span>分类：【技术】</span></p>
            <div class="dateview">2014-04-08</div>
        </div>

    </div>
</article>
<script>
    $(document).ready(function () {
        getArticle();
    });

    function getArticle() {
        var url = '/main/addArticle';
        var html = '<h2><p><span>推荐</span>文章</p></h2>';
        $.getJSON(url, function (data) {
            var len = data.length;
            var num = len > 5 ? 5 : len;
            for (var i = 0; i < num; i++) {
                var title = data[i].title;
                var abstract = data[i].abstract;
                var text = data[i].text;
                var time = data[i].time;
                html += '<div class="blogs">' +
                        '<h3><a href="/article?title=' + title + '">' + title + '</a></h3>' +
                        '<figure><img src="images/newyear.jpg"></figure>' +
                        '<ul>' +
                        '<p>' + abstract + '</p>' +
                        '<a href="/article?title=' + title + '" target="_blank" class="readmore">阅读全文&gt;&gt;</a>' +
                        '</ul>' +
                        '<p class="autor"><span>作者：<a href="/myself">Sweety</a></span><span>  </span><span>分类：【技术】</span></p>' +
                        '<div class="dateview">' + time + '</div>' +
                        '</div>';
            }
            $(".bloglist").html(html);
        });
    }
</script>