<!DOCTYPE html>
<article>
    <h3 class="about_h">您现在的位置是：<a href="/main">首页</a>>关于我</h3>
    <div class="about">
        <h2>About me</h2>
        <ul>
            <p>小磊，男，码农，文艺气息混杂diao丝味道，爱DOTA，爱篮球，爱旅行，爱摄影，更爱Coding</p>
            <p>08年入行，蹉跎四年，侥幸通过专升本考试，继续蹉跎两年，五年间陪伴我的只有游戏和篮球，本科末尾发奋考研，奈何基础薄弱，最终还是搭上末班车，研究生期间也没有浪子回头，但至少当了一次态度好的学生。</p>
            <p>
                2014年2月凭借略懂的C++，参与了导师的总装预研项目，该项目为第二炮兵装备研究院的研究项目，由我校和北京航空精密机械研究所配合开发，我校负责软件方面的开发，其中软件部分又分为视觉、控制、仿真三个部分。主要功能为基于计算机图形学的图像处理功能，分为四个模块，监控模块、识别模块、通信模块、图像展示模块。主要功能是作为机器人的眼睛为控制系统提供实时数据。个人在项目中的职责是用MFC和Halcon（大恒图像代理的图像处理软件）混合编程实现了项目中视觉部分的软件。基于Windows系统下的MFC开发环境，使用C++语言配合调用Halcon等完成项目开发。并在项目完成同时编写论文《Approach
                to High-precision Recognition and Positioning of Camera in State of Motion》发表在2015 IEEE International
                Conference on Computer and Communications (ICCC)。</p>
            <p>
                2015年9月7日进入畅游天下网络有限公司数据中心实习，职位是系统开发工程师。部门职责：建立实时数据的异常预警模型，形成自动化的实时监控系统，对异常及时发现处理，防止重大危害发生。主要产出：使用Nodejs的Web开发框架Koa开发了《综合监控系统》，个人负责项目的搭建和其中4个大模块8个小模块的开发，完成了近80条bug的修复并负责线上系统的日常维护。目前在做《天龙实时监控系统》后台数据库的相关工作。学习情况：学习了Noejs的基本开发、调试，深入了解了Express和Koa框架的应用和原理，能够独立开发Web应用。在已有Mysql的基础上学习了Nosql的Mongodb和Redis，能基本使用，另外能用python做相关数据的处理。一些成果：CNode社区发表帖子：<a
                    href="https://cnodejs.org/user/a1511870876">https://cnodejs.org/user/a1511870876</a>
                个人项目：GitHub地址：<a href="https://github.com/a1511870876">https://github.com/a1511870876</a>
                阿里云地址：1、<a href="www.keepforward.xyz:3000">www.keepforward.xyz:3000</a> 2、<a
                    href="www.keepforward.xyz:7000">www.keepforward.xyz:7000</a>
            </p>
            <p>自我评价：‘OK，我确实不懂，但是我能学会，并且会想尽一切办法做得更好。’</p>
        </ul>
        <h2>About my blog</h2>
        <ul class="blog_a">
            <p>域 名：www.keepforward.xyz:3000</p>
            <p>创建时间：2016年01月01日</p>
            <p>服务器：阿里云服务器</p>
            <p>程 序：Node.js + MongoDB + jQuery + python</p>
            <p>目 的：记录点滴 保持进步</p>
        </ul>
    </div>
</article>